$black : #000000;
$yellow : #FFD600;
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hero{
    position: relative;
    .dev{
        height: 100vh;
        width: 100%;
        background-image: url('../img/dev_black.svg');
        &__text{
            margin-top: 10%;
        }
        &__tools{
            margin-top: 15%;
            margin-right: 5%;
        }
        &__info{
            margin-top: 10%;
            width: 50%;
            
            text-align: center !important;
            #typed{
                
                color:#ffffff;
                width: 50%;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 500;
                font-size: 24px;
                text-align: center !important;
                margin-top: auto;
            }
        }
    }
    .des{
        height: 100vh;
        width: 100%;
        background-image: url('../img/des_yel.svg');
        &__text{
            margin-top: 10%;
        }
        &__tools{
            margin-top: 15%;
            margin-left: 5%;
        }
        &__info{
          
            margin-top: 10%;
            width: 50%;
            
            text-align: center !important;
            #typedd{
                color: rgba(0, 0, 0, 0.95);
                width: 50%;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 500;
                font-size: 24px;
                text-align: center !important;
                margin-top: auto;
            }
        }
    }
    .hero-img{
   position: absolute;
   bottom: 0;
   width: 100%;
   
   .haav{
       z-index: 1;
   }
}
    .paav{
        position: absolute;
        bottom: 0;
        width: 100%;
        
        img{
            width: 70px;
            cursor: crosshair;
        }
    }

}

@media only screen and (max-width: 950px){
    .hero{
        .dev{     
            &__text{
                margin-top: 15%;
            }
            &__tools{
                margin-top:25%;
               
            }
            &__info{
          
                margin-top: 5%;
                width: 50%;
                
                text-align: center !important;
                #typed{
                   
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{
            &__text{
                margin-top: 15%;              
                width: 85%;
            }
            &__tools{               
                margin-top: 20%;                
            }
            &__info{
          
                margin-top: 5%;
                width: 50%;
                
                text-align: center !important;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 55%;
        }
    }
    }
}

@media only screen and (max-width: 768px){
    .hero{
        position: relative;
        height: 90vh;
        .dev{
          
            width: 100%;
            background-image: url('../img/dev_black.svg');
            &__text{

                width: 90%;
            }
            &__info{
          
                margin-top: 5%;
                width: 65%;
                
                text-align: center !important;
                #typedd{
                    
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{
           
            width: 100%;
            background-image: url('../img/des_yel.svg');
            &__text{

                width: 80%;
            }
            &__info{
          
                margin-top: 5%;
                width: 65%;
                
                text-align: center !important;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 55%;
        }
    }
    }
}

@media only screen and (max-width: 510px){
    .hero{
        position: relative;
        height: 90vh;
        .dev{
          
            width: 100%;
            background-image: url('../img/dev_black.svg');
            &__text{

                width: 90%;
            }
            &__tools{
                width: 70%;
            }
            &__info{
          
                margin-top: 15%;
                width: 80%;
                
                text-align: left !important;
                #typed{
                    color: #ffffff;
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{
           
            width: 100%;
            background-image: url('../img/des_yel.svg');
            &__text{

                width: 80%;
            }
            &__tools{
                width: 70%;
            }
            &__info{
          
                margin-top: 15%;
                width: 80%;
                
                text-align: right !important;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 75%;
        }
    }
    }
}