$black : #000000;
$yellow : #FFD600;
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.hero{
    position: relative;
    overflow: hidden;
    .dev{
        height: 100vh;
        width: 100%;
        background-image: url('../img/dev_black.svg');
        &__text{
            margin-top: 10%;
        }
        &__tools{
            margin-top: 15%;
            margin-right: 5%;
        }
        &__info{
            height: 15vh;
            margin-top: 25%;
            width:80%;
            text-align: center;
            #typed{
                color:#ffffff;
                width: 50%;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 400;
                opacity: 0.7;
                font-size: 24px;
            }
        }
    }
    .des{
        height: 100vh;
        width: 100%;
        background-image: url('../img/des_yel.svg');
        &__text{
            margin-top: 10%;
        }
        &__tools{
            margin-top: 15%;
            margin-left: 5%;
        }
        &__info{
            height: 15vh;
            margin-top: 25%;
            width:80%;
            text-align: center;           
            #typedd{
                color: rgba(0, 0, 0, 0.95);
                width: 70%;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 400;
                font-size: 24px;
                opacity: 0.7;
               
            }
        }
    }
    .hero-img{
   position: absolute;
   bottom: 0;
   width: 100%;
   
   .haav{
       z-index: 1;
   }
}
    .paav{
        position: absolute;
        bottom: 0;
        width: 100%;
        
        img{
            width: 70px;
            cursor: crosshair;
        }
    }

}

@media only screen and (max-width: 950px){
    .hero{
        .dev{     
            &__text{
                margin-top: 15%;
            }
            &__tools{
                margin-top:15%;
               
            }
            &__info{
          
                margin-top: 20%;
                width: 80%;
                
                text-align: center !important;
                #typed{
                   
                    width: 80%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{
            &__text{
                margin-top: 15%;              
                width: 85%;
            }
            &__tools{               
                margin-top: 15%;                
            }
            &__info{
          
                margin-top: 20%;
                width:90%;
                
                text-align: center !important;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);
                    width: 80%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 55%;
        }
    }
    }
}

@media only screen and (max-width: 768px){
    .hero{
        position: relative;
        height: 90vh;
        .dev{
          
            width: 100%;
            background-image: url('../img/dev_black.svg');
            &__text{

                width: 90%;
            }
            &__tools{               
                margin-top: 10%;                
            }
            &__info{
          
                margin-top: 25%;
                width: 90%;
                
                text-align: center !important;
                #typedd{
                    
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{
           
            width: 100%;
            background-image: url('../img/des_yel.svg');
            &__text{

                width: 80%;
            }
            &__tools{               
                margin-top: 10%;                
            }
            &__info{
          
                margin-top: 25%;
                width: 90%;
                
                text-align: center !important;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight:500;
                    font-size: 20px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 55%;
        }
    }
    }
}

@media only screen and (max-width: 510px){
    .hero{
        position: relative;
        height: 90vh;
        .dev{          
            width: 100%;
            background-image: url('../img/dev_black.svg');
            &__text{
                width: 90%;
            }
            &__tools{
                width: 70%;
                margin-top: 15%;
            }
            &__info{          
                margin-top: 25%;
                width: 95%;   
                height: 20vh; 
                #typed{
                    color: #ffffff;
                    width: 50%;
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .des{           
            width: 100%;
            background-image: url('../img/des_yel.svg');
            &__text{
                width: 80%;
            }
            &__tools{
                width: 70%;
                margin-top: 15%;
            }
            &__info{          
                margin-top: 25%;
                width: 95%;                
                height: 20vh;
                #typedd{
                    color: rgba(0, 0, 0, 0.95);                  
                    font-family: 'Roboto', sans-serif;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 18px;
                    text-align: center !important;
                    margin-top: auto;
                }
            }
        }
        .hero-img{
            .haav{
           width: 75%;
        }
    }
    }
}
.pik{
    background:#000000;
    .menu{
        position: relative;
        width: auto;
        height: 80vh;
        padding-top: 5%;
        .about{     
            width: 25%;
            position: absolute;
            z-index: initial;
            left : 15.4%;
            top: 5%;
            &:hover{
                top:3%;
                left: 15.6%;
            }           
        }
        .work{  
            width: 25%; 
           position: absolute;  
            z-index: 10;
            left: 29.5%;
            &:hover{
                top:7%;
                left : 30%
            }    
        }     
        
        .client{
            width: 25%;
          position: absolute;
            z-index: 20;
            top: 5%;
            right: 29.5%;
            &:hover{
                top:3%;
            }
        }
        .contact{
            width: 25%;
          position: absolute;
            z-index: 30;
            right: 15.4%;
            &:hover{
                top:7%;
                right : 14.8%
            }           
        }
        @media only screen and (max-width:1250px){
            .about{     
                width: 23%;
                left : 17.4%;
                top: 5%;   
                &:hover{
                    left : 17.6%;
                    top: 3%; 
                }        
            }
            .work{  
                width: 23%; 
                left: 31%;  
                &:hover{
                    left: 31.2%; 
                    top: 7%; 
                }  
            }                 
            .client{
                width: 23%;
                top: 5%;
                right: 31%;
                &:hover{
                    right: 30.5%;
                    top: 3%; 
                }  
            }
            .contact{
                width: 23%;
                right: 17.4%; 
                &:hover{
                    right: 17%; 
                    top: 7%; 
                }          
            }
        }
        @media only screen and (max-width:968px){
            .about{     
                width: 25%;
                left : 14%;
                top: 3%;  
                &:hover{
                    top:2%;
                    left : 14.2%
                }           
            }
            .work{  
                width: 25%; 
                left: 29%;  
                &:hover{
                    top:5.5%;
                    left : 29.5%
                }   
            }                 
            .client{
                width: 25%;
                top: 3%;
                right: 29%;
                &:hover{
                    top:2%;
                    right: 28.7%
                }   
            }
            .contact{
                width: 25%;
                right: 14%;   
                &:hover{
                    top:5.5%;
                    right : 13.5%
                }         
            }
        }
        @media only screen and (max-width:512px){
            .about{     
                width: 25%;
                left : 12%;
                top: 3%;  
                &:hover{
                    top:2%;
                    left : 14.2%
                }           
            }
            .work{  
                width: 25%; 
                left: 29%;  
                &:hover{
                    top:5.5%;
                    left : 29.5%
                }   
            }                 
            .client{
                width: 25%;
                top: 3%;
                right: 29%; 
                &:hover{
                    top:2%;
                    right: 28.7%
                }   
            }
            .contact{
                width: 25%;
                right: 12%;   
                &:hover{
                    top:5.5%;
                    right : 13.5%
                }         
            }
        }
    }
}

