* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero .dev {
  height: 100vh;
  width: 100%;
  background-image: url("../img/dev_black.svg");
}

.hero .dev__text {
  margin-top: 10%;
}

.hero .dev__tools {
  margin-top: 15%;
  margin-right: 5%;
}

.hero .dev__info {
  height: 15vh;
  margin-top: 25%;
  width: 80%;
  text-align: center;
}

.hero .dev__info #typed {
  color: #ffffff;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  opacity: 0.7;
  font-size: 24px;
}

.hero .des {
  height: 100vh;
  width: 100%;
  background-image: url("../img/des_yel.svg");
}

.hero .des__text {
  margin-top: 10%;
}

.hero .des__tools {
  margin-top: 15%;
  margin-left: 5%;
}

.hero .des__info {
  height: 15vh;
  margin-top: 25%;
  width: 80%;
  text-align: center;
}

.hero .des__info #typedd {
  color: rgba(0, 0, 0, 0.95);
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  opacity: 0.7;
}

.hero .hero-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero .hero-img .haav {
  z-index: 1;
}

.hero .paav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.hero .paav img {
  width: 70px;
  cursor: crosshair;
}

@media only screen and (max-width: 950px) {
  .hero .dev__text {
    margin-top: 15%;
  }
  .hero .dev__tools {
    margin-top: 15%;
  }
  .hero .dev__info {
    margin-top: 20%;
    width: 80%;
    text-align: center !important;
  }
  .hero .dev__info #typed {
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .des__text {
    margin-top: 15%;
    width: 85%;
  }
  .hero .des__tools {
    margin-top: 15%;
  }
  .hero .des__info {
    margin-top: 20%;
    width: 90%;
    text-align: center !important;
  }
  .hero .des__info #typedd {
    color: rgba(0, 0, 0, 0.95);
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .hero-img .haav {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    position: relative;
    height: 90vh;
  }
  .hero .dev {
    width: 100%;
    background-image: url("../img/dev_black.svg");
  }
  .hero .dev__text {
    width: 90%;
  }
  .hero .dev__tools {
    margin-top: 10%;
  }
  .hero .dev__info {
    margin-top: 25%;
    width: 90%;
    text-align: center !important;
  }
  .hero .dev__info #typedd {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .des {
    width: 100%;
    background-image: url("../img/des_yel.svg");
  }
  .hero .des__text {
    width: 80%;
  }
  .hero .des__tools {
    margin-top: 10%;
  }
  .hero .des__info {
    margin-top: 25%;
    width: 90%;
    text-align: center !important;
  }
  .hero .des__info #typedd {
    color: rgba(0, 0, 0, 0.95);
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .hero-img .haav {
    width: 55%;
  }
}

@media only screen and (max-width: 510px) {
  .hero {
    position: relative;
    height: 90vh;
  }
  .hero .dev {
    width: 100%;
    background-image: url("../img/dev_black.svg");
  }
  .hero .dev__text {
    width: 90%;
  }
  .hero .dev__tools {
    width: 70%;
    margin-top: 15%;
  }
  .hero .dev__info {
    margin-top: 25%;
    width: 95%;
    height: 20vh;
  }
  .hero .dev__info #typed {
    color: #ffffff;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .des {
    width: 100%;
    background-image: url("../img/des_yel.svg");
  }
  .hero .des__text {
    width: 80%;
  }
  .hero .des__tools {
    width: 70%;
    margin-top: 15%;
  }
  .hero .des__info {
    margin-top: 25%;
    width: 95%;
    height: 20vh;
  }
  .hero .des__info #typedd {
    color: rgba(0, 0, 0, 0.95);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    text-align: center !important;
    margin-top: auto;
  }
  .hero .hero-img .haav {
    width: 75%;
  }
}

.pik {
  background: #000000;
}

.pik .menu {
  overflow: hidden;
  position: relative;
  width: auto;
  height: 80vh;
  padding-top: 5%;
}

.pik .menu .about {
  width: 25%;
  position: absolute;
  z-index: initial;
  left: 15%;
  top: 5%;
}

.pik .menu .about:hover {
  top: 3%;
  left: 15.6%;
}

.pik .menu .work {
  width: 25%;
  position: absolute;
  z-index: 10;
  left: 29.5%;
}

.pik .menu .work:hover {
  top: 7%;
  left: 30%;
}

.pik .menu .client {
  width: 25%;
  position: absolute;
  z-index: 20;
  top: 5%;
  right: 29.5%;
}

.pik .menu .client:hover {
  top: 3%;
}

.pik .menu .contact {
  width: 25%;
  position: absolute;
  z-index: 30;
  right: 15%;
}

.pik .menu .contact:hover {
  top: 7%;
  right: 14.8%;
}

@media only screen and (max-width: 1250px) {
  .pik .menu {
    height: 60vh;
  }
  .pik .menu .about {
    width: 23%;
    left: 17.4%;
    top: 5%;
  }
  .pik .menu .about:hover {
    left: 17.6%;
    top: 3%;
  }
  .pik .menu .work {
    width: 23%;
    left: 31%;
  }
  .pik .menu .work:hover {
    left: 31.2%;
    top: 7%;
  }
  .pik .menu .client {
    width: 23%;
    top: 5%;
    right: 31%;
  }
  .pik .menu .client:hover {
    right: 30.5%;
    top: 3%;
  }
  .pik .menu .contact {
    width: 23%;
    right: 17.4%;
  }
  .pik .menu .contact:hover {
    right: 17%;
    top: 7%;
  }
}

@media only screen and (max-width: 968px) {
  .pik .menu {
    height: 45vh;
  }
  .pik .menu .about {
    width: 25%;
    left: 14%;
    top: 3%;
  }
  .pik .menu .about:hover {
    top: 2%;
    left: 14.2%;
  }
  .pik .menu .work {
    width: 25%;
    left: 29%;
  }
  .pik .menu .work:hover {
    top: 5.5%;
    left: 29.5%;
  }
  .pik .menu .client {
    width: 25%;
    top: 3%;
    right: 29%;
  }
  .pik .menu .client:hover {
    top: 2%;
    right: 28.7%;
  }
  .pik .menu .contact {
    width: 25%;
    right: 14%;
  }
  .pik .menu .contact:hover {
    top: 5.5%;
    right: 13.5%;
  }
}

@media only screen and (max-width: 768px) {
  .pik .menu {
    height: 37vh;
  }
}

@media only screen and (max-width: 512px) {
  .pik .menu {
    height: 25vh;
  }
  .pik .menu .about {
    width: 25%;
    left: 13%;
    top: 3%;
  }
  .pik .menu .about:hover {
    top: 2%;
    left: 13.2%;
  }
  .pik .menu .work {
    width: 25%;
    left: 28.5%;
  }
  .pik .menu .work:hover {
    top: 3%;
    left: 28.7%;
  }
  .pik .menu .client {
    width: 25%;
    top: 3%;
    right: 28.5%;
  }
  .pik .menu .client:hover {
    top: 2%;
    right: 28.7%;
  }
  .pik .menu .contact {
    width: 25%;
    right: 13%;
  }
  .pik .menu .contact:hover {
    top: 3%;
    right: 13.2%;
  }
}
/*# sourceMappingURL=style.css.map */